#footer{
    background-color: #040924;
}
#footer-container{
    padding: 100px 0 50px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    border-bottom: 2px solid #2dc3d0;
    gap: 40px;
    justify-content: space-between;
}

#footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1;
    justify-content: center;
}
#footer .social{
    align-items: flex-end;
}
.col .footer-links a{
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    padding: 3px 0;
    transition: all .15s ease;
    color: #fff;
}
.col .footer-links a:hover{
    color: #2dc3d0;
}

.col .footer-links{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.col .title{
    text-transform: uppercase;
    cursor: auto;
    font-size: 19px;
    color: #fff;
    padding-bottom: 7px;
}
.col .logo{
    color: #fff;
    padding-right: 100px;
    text-align: center;
}
.col .footer-logIn{
    background-color: #2dc3d0;
    border: 2px solid #2dc3d0;
    border-radius: 4px;
    color: #040924;
    transition: all .15s ease;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    font-size: 16px;
    padding: 15px 20px;
}
.col .footer-logIn a{
    text-decoration: none;
    color: #333;
}
.col .footer-logIn:hover{
    border: 2px solid #fff;
}
.col .social-icons{
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding-top: 50px;
}
.col .social-icons img{
    width: 30px;
    cursor: pointer;
    height: 30px;
}
#footer-bottom{
    padding: 30px 100px 60px 100px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 40px;
    flex-wrap: wrap;
}

.copyright{
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.copyright span{
    color: #2dc3d0;
    text-decoration: underline;
}
.privacy a{
    color: #fff;
    text-decoration: none;
    font-size: small;
    padding: 0 10px;
    border-right: 2px solid #fff;
    cursor: pointer;
}
.privacy a:hover{
    text-decoration: underline;
}
.privacy{
    display: flex;
}